p.maximum {
	margin-left: 9em;
}

#accountsettingsform ul, #deleteaccountform ul, #accouninformation ul {
    list-style: none;
    padding: 3px 10px;
}

#accountsettingsform li, #deleteaccountform li, #accountinformation li {
    padding: 3px 0px;
}

h1 {
    font-size:110%;
    margin-bottom:10px;
}

#accountsettingsform label {
    font-weight: bold;
    font-size: 105%;
    width: 8em;
    float: left;
    text-align: left;
    margin-right: 0.5em;
    display: block;
}

#accountsettingsform fieldset {
    border: 1px solid;
    width: 34em;
    height: 12em;
}

.errorinput {
    color: #A00;
    background-color: #FDD;
}

.errormsg {
    margin-left:5px;
    color: #940000;
}
