#ccform ul {
    list-style: none;
    padding: 0px 0px;
}

#ccform li {
    padding: 2px 0px;
}

#target {
    margin-left: 9em;
}

p.rule {
    font-size: 80%;
}

#ccform label {
    font-weight: bold;
    font-size: 105%;
    width: 8em;
    float: left;
    text-align: left;
    margin-right: 0.5em;
    display: block;
}

fieldset {
    width: 32em;
    height: 26em;
}