.center {
    margin: auto;
    width: 70%;
    overflow: auto;
}

p.mandatory {
    font-size: 80%;
    padding-left: 10px;
}

#caform ul {
    list-style: none;
    padding: 3px 10px;
}

#caform li {
    padding: 3px 0px;
}

#caform input[type='text'], input[type='password'] {
    width: 200px;
}

#caform label {
    font-weight: bold;
    font-size: 105%;
    width: 12em;
    float: left;
    text-align: left;
    margin-right: 0.5em;
    display: block;
}

#caform fieldset {
    border:1px solid;
    width: 34em;
    height: 19em;
}

h1 {
    font-size:110%;
    margin-bottom:10px;
}

.errorinput {
    color: #A00;
    background-color: #FDD;
}

.errormsg {
    margin-left:5px;
    color: #940000;
}
